@import "../../assets/styles/variable.scss";

.menuItem {
	color: $menuItem_grey;
	padding: 3px;
	margin: 19px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;

	&:hover {
		color: $white;
	}
}


.sidebar {
	background-color: $BackgroundDarkBlack;
	border-style: none;
	min-width: 171px;

	&--collapsed {
		background-color: $BackgroundDarkBlack;
		border-style: none;
		min-width: 100px;
	}
}

.sideWrapper,
.sideWrapper--collapsed {
	margin-left: 22px;
	margin-right: 22px;
	color: $menuItem_grey;
	height: 100%;
	font-family: "Manrope", sans-serif;
	font-size: 14px;
	border-top: 1px solid $white;
	width: auto;

	&__navBtn,
	&__navBtn--collapsed {
		height: 19px;
		margin: 30px 0 0 0px;
		display: flex;
		position: relative;
		right: -125px;

		&--collapsed {
			position: relative;
			right: -55px;
		}

		&__arrowBtn {
			display: flex;
			color: $menuItem_grey;
			border-radius: 10px;
			background-color: #eceef0;
			align-items: center;
			justify-content: center;
			padding: 2px 8px 3px 8px;
			font-size: 10px;
		}
	}
}

.menuName {
	margin: 10px 0px 10px 10px;

	&:hover {
		color: $white;
		border-bottom: 1px solid $white;
	}
}

.menuIcon {
	display: flex;
	height: 20px;
	width: 20px;

	&:hover {
		color: $white;
	}

	&--collapsed {
		&:hover {
			color: $white;
			border-bottom: 1px solid $white;
		}
	}
}

.sideMenu {
	margin: 0px 6px 0;
	display: flex;
	align-items: flex-start;
	flex-direction: column;

	&--collapsed {
		margin: 0px 6px 0;
		display: flex;
		align-items: center;
		flex-direction: column;
	}
}