.menuitem {
	color: #898f9e;
	padding: 3px;
	margin: 25px 0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	&:hover {
		color: #ffffff;
	}
}
.sidebar,
.sidebarclose {
	background-color: #141414;
	border-style: none;
}
.sidebar {
	min-width: 171px;
}
.sidebarclose {
	min-width: 100px;
}
.sidewrapper,
.sidewrapperClose {
	margin-left: 22px;
	margin-right: 22px;
	color: #898f9e;
	height: 100%;
	font-family: "Manrope", sans-serif;
	font-size: 14px;
	border-top: 1px solid white;
	width: auto;
}
.navbtn {
	width: 50px;
	height: 19px;
	margin: 30px 0 0 0px;
}
.arrowbtn,
.arrowbtnShow {
	display: flex;
	color: #898f9e;
	border-radius: 10px;
	background-color: #eceef0;
	align-items: center;
	justify-content: center;
	margin-left: 70px;
	padding: 2px 4px 3px 5px;
	font-size: 10px;
}
.menuname {
	margin: 10px;
	&:hover {
		color: #ffffff;
		border-bottom: 1px solid white;
	}
}
.menuicon {
	display: flex;
	height: 20px;
	width: 20px;
}
.sideMenuClose {
	margin: 44px 6px 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.menuiconClose {
	&:hover {
		color: #ffffff;
		border-bottom: 1px solid white;
	}
}
