// $small: 300px;
@import "../../assets/styles/variable.scss";
$medium: 900px;

.SiderWrapper {
  display: flex;
  width: 100%;
  margin-top: 27px, 35px, 20px, 35px;
  background-color: $HeaderBarSideBarBackgroundColorMainTextColor;
  display: flex;
  align-items: center;
  font-family: "Manrope", sans-serif;

  .logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 171px;
    margin: 12px 0;
    border-right: 1px solid $MainBackgroundColor;

    .logoSvg {
      display: flex;
      padding: 10px 18px;
    }

    .logoName {
      display: flex;
      padding: 10px 18px;
      font-size: 12px;
    }

    &--active {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 12px 0;
      border-right: 1px solid $MainBackgroundColor;
      width: 100px;
    }
  }

  &__rightbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    &__left {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px 0px 10px;
      margin: 10px 52px;

      .title {
        display: flex;
        color: $MainBackgroundColor;
        font-size: 16px;
      }

      .date {
        color: #97bdff;
        font-size: 10px;
        display: flex;
        margin: 0 30px;
      }
    }

    &__right {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      .userAvatar {
        display: flex;
        align-items: center;
        justify-content: center;
        border-left-style: solid;
        padding: 10px 20px;
        margin: 10px;
        border-left: 1px solid $MainBackgroundColor;
      }

      .userName {
        display: flex;
        font-size: 12px;
        color: $MainBackgroundColor;
        padding-left: 6px;
      }

      .searchBox {
        display: flex;
        margin: 0 30px;
        background-color: $BackgroundLightBlack;
        color: $grey;
        border-radius: 20px;
        border-style: unset;
        width: auto;
        font-size: 12px;
        height: 37px;

        &:focus-within {
          background-color: $MainBackgroundColor;
          border-radius: 10px;
          border-style: unset;

          .searchIcon {
            background-color: $MainBackgroundColor;
          }

          .searchInput {
            background: $MainBackgroundColor;
          }
        }
      }

      .searchIcon {
        background-color: $BackgroundLightBlack;
        color: $grey;
        border-radius: 20px;
        border-style: unset;
        width: auto;
        font-size: 12px;
      }

      .searchInput {
        display: flex;
        margin-left: 10px;
        background-color: $BackgroundLightBlack;
        color: $grey;
        border-radius: 20px;
        border-style: unset;
        width: 55px;
        font-size: 12px;
        outline: none;

      }

      .alertSec {
        display: flex;
        margin: 0 30px;
      }
    }

    @media screen and (max-width: $medium) {
      flex-direction: column;
    }
  }
}