// variables of stylesheet
$primary_color: #111111;
$grey: #666666;
$BackgroundLightBlack: #2c2e30;
$HeaderBarSideBarBackgroundColorMainTextColor: #141414;
$MainBackgroundColor: #ffffff;
$menuItem_grey:#898f9e;